@model Notes.Web.ViewModels.NoteViewModel

@{
    ViewBag.Title = "Delete";
}

<hr />
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">DELETE NOTE<br />Are you sure you want to delete this?</div>
            <div class="panel-body">
                @using (Html.BeginForm("Delete", "Note", new { id = @Model.Id }, FormMethod.Post, new { @class = "form-horizontal", name = "delete", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <lable class="control-label col-lg-1 col-md-1 col-sm-1">NAME</lable>
                        <div class="form-control-static col-lg-11 col-md-11 col-sm-11">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-lg-1 col-md-1 col-sm-1">TEXT</lable>
                        <div class="text form-control-static col-lg-11 col-md-11 col-sm-11">
                            @Html.DisplayFor(model => model.Text)
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-lg-1 col-md-1 col-sm-1">DATE</lable>
                        <div class="form-control-static col-lg-11 col-md-11 col-sm-11">
                            @Html.DisplayFor(model => model.Date)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                            <div class="btn-group btn-group-justified">
                                <bytton type="submit" class="btn btn-default" onclick="document.forms['delete'].submit()">
                                    <span class="glyphicon glyphicon-trash"></span> DELETE
                                </bytton>
                                <a href=@Url.Action("Index") class="btn btn-default">
                                    <span class="glyphicon glyphicon-circle-arrow-left"></span> BACK
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
