@model Notes.Web.ViewModels.NoteViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <h3 class="col-lg-11 col-md-11 col-md-offset-1">EDIT NOTE</h3>
</div>
<hr />
@using (Html.BeginForm("Edit", "Note", FormMethod.Post, new { @class = "form-horizontal", name = "note" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "col-lg-1 col-md-1 col-sm-1 control-label" })
        <div class="col-lg-8 col-md-8 col-sm-6">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "control-label" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Text, new { @class = "col-lg-1 col-md-1 col-sm-1 control-label" })
        <div class="col-lg-8 col-md-8 col-sm-6">
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows = 3 })
            @Html.ValidationMessageFor(model => model.Text, null, new { @class = "control-label" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, new { @class = "col-lg-1 col-md-1 col-sm-1 control-label" })
        <div class="col-lg-8 col-md-8 col-sm-6">
            @Html.TextBoxFor(model => model.Date, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.Date, null, new { @class = "control-label" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8 col-md-8 col-sm-6 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
            <div class="btn-group btn-group-justified">
                <bytton type="submit" class="btn btn-default" onclick="document.forms['note'].submit()">
                    <span class="glyphicon glyphicon-edit"></span> EDIT
                </bytton>
                <a href=@Url.Action("Index") class="btn btn-default">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> BACK
                </a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
